.header {
    padding: 5px;
    background-color: beige;
    display: grid;
    grid-template-areas: "logo navegacao";
    grid-template-rows: 51px 1fr;
    grid-template-columns: 80px 1fr;
    justify-items: center;
    align-items: center;
}

.header__logo {
    grid-area: logo;
}

.header__navegacao {
    grid-area: navegacao; 
}

.header a {
    display: inline;
    text-decoration: none;
}

.header a:visited {
    color: white;
}

.header__navegacao a {
    background-color: #114573;
    color: white;
    margin: 0px 5px;
    padding: 5px 10px;
    border-radius: 20px;
}

.header__navegacao a:hover {
    background-color: #94a6ba;
}

.header__logo a img {
    width: 80px;
    height: 51px;
}

.header ul li {
    display: inline;
}