* {
    padding: 0;
    margin: 0;
    border: 0;
}

main {
    display: grid;
    grid-template-areas: 
        ". inicio ."
        ". abordagem ."
        ". terapia ."
        ". sobreMim ."
        ". opinioes ."
        ". perguntas ."
        ". contato .";
    grid-template-columns: 100px 1fr 100px;
}

#inicio {
    grid-area: inicio;
    display: grid;
    grid-template-areas: "inicioConteudo inicioAside";
    grid-template-columns: 1fr 518px;
    grid-template-rows: 777px;
}

#inicio div {
    grid-area: inicioConteudo;
}

#inicio aside {
    grid-area: inicioAside;
}

.inicioConteudo {
    padding-top: 200px;
}

.inicioConteudo h2 {
    font-size: 1.5rem;
    padding-bottom: 10px;
}

.inicioConteudo h3 {
    font-size: 2.5rem;
    padding-bottom: 100px;
}

.inicioConteudo p {
    font-size: 1rem;
    padding-bottom: 50px;
}

#abordagem {
    grid-area: abordagem;
    background-color: red;
}

#terapia {
    grid-area: terapia;
    background-color: green;
}

#sobreMim {
    grid-area: sobreMim;
    background-color: yellow;
}

#opinioes {
    grid-area: opinioes;
    background-color: blueviolet;
}

#perguntas {
    grid-area: perguntas;
    background-color: blue;
}

#contato {
    grid-area: contato;
    background-color: pink;
}

main a {
    text-decoration: none;
    background-color: #114573;
    color: white;
    margin: 0px 5px;
    padding: 5px 10px;
    border-radius: 20px;
}

main a:hover {
    background-color: #94a6ba;
}

section {
    /* padding: 20px 100px; */
    color: #114573;
}

/* #inicio,
#sobreMim,
#perguntas {
    background-color: #D2ABA4;
}

#terapia,
#opnioes,
#contato {
    background-color: #d5d6d8;
} */

/* #inicio div {
    display: inline-block;
    width: 40%;
} */

/* #inicio aside {
    display: inline-block;
    width: 40%;
} */

.inicio__img {
    width: 100%;
    height: 100%;
}

/* #sobreMim div {
    display: inline-block;
    width: 50%;
} */

/* #sobreMim aside {
    display: inline-block;
    width: 40%;
} */

#contato img {
    width: 40%;
    height: 40%;
}